In [5]:
pip install folium

Requirement already satisfied: folium in /home/elias/SQL/.venv/lib/python3.8/site-packages (0.14.0)
Requirement already satisfied: requests in /home/elias/SQL/.venv/lib/python3.8/site-packages (from folium) (2.28.2)
Requirement already satisfied: numpy in /home/elias/SQL/.venv/lib/python3.8/site-packages (from folium) (1.24.1)
Requirement already satisfied: jinja2>=2.9 in /home/elias/SQL/.venv/lib/python3.8/site-packages (from folium) (3.1.2)
Requirement already satisfied: branca>=0.6.0 in /home/elias/SQL/.venv/lib/python3.8/site-packages (from folium) (0.6.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/elias/SQL/.venv/lib/python3.8/site-packages (from requests->folium) (3.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/elias/SQL/.venv/lib/python3.8/site-packages (from requests->folium) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in /home/elias/SQL/.venv/lib/python3.8/site-packages (from requests->folium) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/elias/SQL/.venv/lib/python3.8/site-packages (from requests->folium) (2022.12.7)
Requirement already satisfied: MarkupSafe>=2.0 in /home/elias/SQL/.venv/lib/python3.8/site-packages (from jinja2>=2.9->folium) (2.1.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install plotly

Requirement already satisfied: plotly in /home/elias/SQL/.venv/lib/python3.8/site-packages (5.13.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/elias/SQL/.venv/lib/python3.8/site-packages (from plotly) (8.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns 
import datetime as dt
import folium
from folium.plugins import HeatMap, HeatMapWithTime
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
#Cargamos los datos y addicionalmente la lista de codigos de cada pais.

In [ ]:
data_df = pd.read_csv(os.path.join("une_rt_m.tsv"), sep='\t')

In [ ]:
country_codes_df = pd.read_csv(os.path.join("wikipedia-iso-country-codes.csv"))

In [ ]:
#Comprobamos los valores datos

In [ ]:
data_df.shape

In [ ]:
data_df.head()

In [ ]:
#Cambiamos los nombres de las columnas y comprobamos

In [ ]:
country_codes_df.head()

In [ ]:
country_codes_df.columns = ['country', 'C2', 'C3', 'numeric', 'iso']

In [ ]:
country_codes_df.head()

In [ ]:
#Separamos de la primera columna los diferentes atributos y ponerlos en diferentes columnas

In [ ]:
data_df['C2'] = data_df['s_adj,age,unit,sex,geo\\time'].apply(lambda x: x.split(",")[-1])
data_df['age'] = data_df['s_adj,age,unit,sex,geo\\time'].apply(lambda x: x.split(",")[1])
data_df['unit'] = data_df['s_adj,age,unit,sex,geo\\time'].apply(lambda x: x.split(",")[2])
data_df['sex'] = data_df['s_adj,age,unit,sex,geo\\time'].apply(lambda x: x.split(",")[3])
data_df['s_adj'] = data_df['s_adj,age,unit,sex,geo\\time'].apply(lambda x: x.split(",")[0])

In [ ]:
data_df.head()

In [ ]:
#Comprobamos que la division se hay realizado correctamente revisando la lista de paises

In [ ]:
print(f"countries:\n{list(data_df.C2.unique())}")

In [ ]:
#Vamos a elegir el intervalo de tiempo entre 2010 y 2020

In [ ]:
selected_cols = ['C2','age','unit','sex', 's_adj', 
                 '2020M07 ', '2020M06 ', '2020M05 ', '2020M04 ','2020M03 ','2020M02 ','2020M01 ',
                 
                 '2019M12 ','2019M11 ','2019M10 ','2019M09 ','2019M08 ','2019M07 ',
                 '2019M06 ','2019M05 ','2019M04 ','2019M03 ','2019M02 ','2019M01 ',
                
                 '2018M12 ','2018M11 ','2018M10 ','2018M09 ','2018M08 ','2018M07 ',
                 '2018M06 ','2018M05 ','2018M04 ','2018M03 ','2018M02 ','2018M01 ',
                
                 '2017M12 ','2017M11 ','2017M10 ','2017M09 ','2017M08 ','2017M07 ',
                 '2017M06 ','2017M05 ','2017M04 ','2017M03 ','2017M02 ','2017M01 ',
                
                 '2016M12 ','2016M11 ','2016M10 ','2016M09 ','2016M08 ','2016M07 ',
                 '2016M06 ','2016M05 ','2016M04 ','2016M03 ','2016M02 ','2016M01 ',
                
                 '2015M12 ','2015M11 ','2015M10 ','2015M09 ','2015M08 ','2015M07 ',
                 '2015M06 ','2015M05 ','2015M04 ','2015M03 ','2015M02 ','2015M01 ', 
                 
                '2014M12 ','2014M11 ','2014M10 ','2014M09 ','2014M08 ',
                '2014M07 ', '2014M06 ', '2014M05 ', '2014M04 ','2014M03 ','2014M02 ','2014M01 ',


                 '2013M12 ','2019M11 ','2019M10 ','2019M09 ','2019M08 ','2019M07 ',
                 '2013M06 ','2013M05 ','2013M04 ','2013M03 ','2013M02 ','2013M01 ',
                
                 '2012M12 ','2012M11 ','2012M10 ','2012M09 ','2012M08 ','2012M07 ',
                '2012M06 ','2012M05 ','2012M04 ','2012M03 ','2012M02 ','2012M01 ',
                
                 '2011M12 ','2011M11 ','2011M10 ','2011M09 ','2011M08 ','2011M07 ',
                 '2011M06 ','2011M05 ','2011M04 ','2011M03 ','2011M02 ','2011M01 ',
                
                 '2010M12 ','2010M11 ','2010M10 ','2010M09 ','2010M08 ','2010M07 ',
                 '2010M06 ','2010M05 ','2010M04 ','2010M03 ','2010M02 ','2010M01 ',]

In [ ]:
data_sel_df = data_df[selected_cols]
data_sel_df.head()

In [ ]:
#Vamos a unir las columnas de codigos

In [ ]:
data_sel_df = data_sel_df.merge(country_codes_df, on="C2")
data_sel_df.head()

In [ ]:
print(f"selected data shape: {data_sel_df.shape}")

In [ ]:
#La parte más importante, vamos a usar merge para convertir todos los meses en columnas

In [ ]:
data_tr_df = data_sel_df.melt(id_vars=["country", "age", "unit", "sex", "s_adj", "C2", "C3", "numeric", "iso"], 
        var_name="Date", 
        value_name="Value")

In [ ]:
data_tr_df.head()

In [ ]:
#Ahora hay que limpiar la columna values de todo lo que no sean digitos

In [ ]:
import re
data_tr_df['Value'] = data_tr_df['Value'].apply(lambda x: re.sub(r"[a-zA-Z: ]", "", x))
data_tr_df['Value'] = data_tr_df['Value'].apply(lambda x: x.replace(" ",""))

data_tr_df = data_tr_df.loc[~(data_tr_df.Value=="")]

data_tr_df['Value'] = data_tr_df['Value'].apply(lambda x: float(x))

In [ ]:
#Veamos cuantos valores tenemos

In [ ]:
print(f"distinct values: {len(list(data_tr_df['Value'].unique()))}")
print(f"samples values: {data_tr_df['Value'].unique()}")

In [ ]:
#Realizamos un filtrado para seleccionar solo los datos que conciernen al porcentage de población activa (PC_ACT)
# y ambos sexos entre 35 y 74 años

In [ ]:
total_y25_74_df = data_tr_df.loc[(data_tr_df.age=='Y25-74')&(data_tr_df.unit=='PC_ACT')&(data_tr_df.sex=='T')&(data_tr_df.s_adj=='TC')]

In [ ]:
#Definimos la funcion de gráfica

In [ ]:
def plot_time_variation(df, y='Value', size=1, is_log=False, title=""):
    f, ax = plt.subplots(1,1, figsize=(4*size,3*size))

    countries = list(df.country.unique())
    for country in countries:
        df_ = df[(df['country']==country)] 
        g = sns.lineplot(x="Date", y=y, data=df_,  label=country)  
        ax.text(max(df_['Date']), (df_.loc[df_['Date']==max(df_['Date']), y]), str(country))
    plt.xticks(rotation=90)
    plt.title(f'Total desempleados, {title}, ordenados por pais')
    ax.text(max(df_['Date']), (df_.loc[df_['Date']==max(df_['Date']), y]), str(country))
    plt.legend(loc="upper left", bbox_to_anchor=(1,1))
    if(is_log):
        ax.set(yscale="log")
    ax.grid(color='black', linestyle='dotted', linewidth=0.75)
    plt.show()

In [ ]:
#Mostramos las graficas

In [ ]:
plot_time_variation(total_y25_74_df, size=9, is_log=True, title = "Edad entre 25-75 -")

In [ ]:
total_Y_LT25_df = data_tr_df.loc[(data_tr_df.age=='Y_LT25')&(data_tr_df.unit=='PC_ACT')&(data_tr_df.sex=='T')&(data_tr_df.s_adj=='TC')]
plot_time_variation(total_Y_LT25_df, size=9, is_log=True, title = "Total menores de 25 ")

In [ ]:
#Graficas para comparar grupos de edad, sexo segun el pais.

In [ ]:
def plot_time_variation_age_sex(data_tr_df, y='Value', country="Netherlands"):
    c_df = data_tr_df.loc[(data_tr_df.country==country)&(data_tr_df.unit=='PC_ACT')&(data_tr_df.s_adj=='TC')]
    f, ax = plt.subplots(1,1, figsize=(16,12))
    sns.lineplot(x="Date", y=y, data=c_df.loc[(c_df.age=='Y_LT25')&(c_df.sex=='F')],  label="Mujeres <25 años")  
    sns.lineplot(x="Date", y=y, data=c_df.loc[(c_df.age=='Y_LT25')&(c_df.sex=='M')],  label="Hombres <25 años")  
    sns.lineplot(x="Date", y=y, data=c_df.loc[(c_df.age=='Y25-74')&(c_df.sex=='F')],  label="Mujeres, 25-74 años")  
    sns.lineplot(x="Date", y=y, data=c_df.loc[(c_df.age=='Y25-74')&(c_df.sex=='M')],  label="Hombres, 25-74 años")  

    plt.xticks(rotation=90)
    plt.title(f'Total unemployment in {country}, grouped by age & sex')
    plt.legend(loc="upper left", bbox_to_anchor=(1,1))
    ax.grid(color='black', linestyle='dotted', linewidth=0.75)
    plt.show()

In [ ]:
plot_time_variation_age_sex(data_tr_df,country="Spain")

In [ ]:
#Definimos la función de mapas gráficos de europa

In [ ]:
import plotly.express as px

def plot_animated_map(dd_df, title):
    hover_text = []
    for index, row in dd_df.iterrows():
        hover_text.append((f"country: {row['country']}<br>unemployment: {row['Value']}%<br>country code: {row['iso']}"))
    dd_df['hover_text'] = hover_text

    fig = px.choropleth(dd_df, 
                        locations="C3",
                        hover_name='hover_text',
                        color="Value",
                        animation_frame="Date",
                        projection="natural earth",
                        color_continuous_scale=px.colors.sequential.Plasma,
                        width=600, height=600)
    fig.update_geos(   
        showcoastlines=True, coastlinecolor="DarkBlue",
        showland=True, landcolor="LightGrey",
        showocean=True, oceancolor="LightBlue",
        showlakes=True, lakecolor="Blue",
        showrivers=True, rivercolor="Blue",
        showcountries=True, countrycolor="DarkBlue"
    )
    fig.update_layout(title = title, geo_scope="europe")
    fig.show()

In [ ]:
c_df = data_tr_df.loc[(data_tr_df.unit=='PC_ACT')&(data_tr_df.s_adj=='TC')]
dd_df=c_df.loc[(c_df.age=='Y25-74')&(c_df.sex=='T')]
dd_df = dd_df.sort_values(by='Date')
title = 'Porcentaje de desempleados por pais <br> Total entre 25-74 años'
plot_animated_map(dd_df, title)

In [4]:
c_df = data_tr_df.loc[(data_tr_df.unit=='PC_ACT')&(data_tr_df.s_adj=='TC')]
dd_df=c_df.loc[(c_df.age=='Y_LT25')&(c_df.sex=='T')]
dd_df = dd_df.sort_values(by='Date')
title = 'Porcentaje de desempleados por pais <br>Total menores de 25 años'
plot_animated_map(dd_df, title)

NameError: name 'data_tr_df' is not defined